body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: teal;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container{
    max-width: 600px;
    width: 100%;
    padding: 20px;
    min-height: 100px;
    background-color: #fff;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.3);
    border-radius: 15px;

}

.quiz-header{
    background-color: teal;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    margin: -20px -20px 20px;
    border-radius: 15px 15px 0 0;
    color: white;
    font-size: 20px;
}

.questionnaire{
    display: none;
}

.questionnaire.active{
    display: block;
}
.question h4{
    margin: 0 0 15px;
    font-size: 20px;
}
.questionnaire .reponse{
    position: relative;
    margin-bottom: 10px;
}

.questionnaire .reponse input{
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 1;
}

.questionnaire .reponse span{
    display: block;
    padding: 8px 15px;
    cursor: pointer;
    background-color: lightslategray;
    color: white;
    border-radius: 15px;
    transition: all 0.3 ease-out;
}

.questionnaire .reponse span:hover{
    background-color: rgb(28, 160, 243);
}

.questionnaire .reponse input:checked + span{
    background-color: red;
}

.questionnaire .reponse input[valid]:checked + span{
    background-color: green;
}


.quiz-footer{
    padding: 10px 0 0;
    text-align: right;
}

.btn{
    display: inline-block;
    padding: 8px 20px;
    background-color: #0b58a7;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 15px;
}



span#restart{
    display: none;
    width: 100px;
}

.btn:hover{
    background-color: green;
}

a{
    text-decoration: none;
}

@media(max-width:550px){
    .container{
        width: 80%;
    }
}